POSTGRES_USER=pfos
POSTGRES_PASSWORD=pfos_dev_password
POSTGRES_DB=personal_finance
POSTGRES_PORT=5432
REDIS_PORT=6379

JWT_ISSUER=PersonalFinance.Api
JWT_AUDIENCE=PersonalFinance.Web
JWT_SIGNING_KEY=replace_with_a_long_development_signing_key_at_least_32_characters
JWT_ACCESS_TOKEN_MINUTES=15
JWT_REFRESH_TOKEN_DAYS=30
